

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	display: block;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

:root{
	--main-color: #212121;
	--secondary-color: #757575;
	--active-color: #2196F3;
	--background-color: #2F303A;
	--background-btn: #188CE8;
}

body{
	font-family: 'Roboto', sans-serif;
	color: var(--main-color);
	font-size: 14px;
	line-height: 1;
	text-decoration: none;
	letter-spacing: 0.03em;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 15px 0 15px; 
}

.section {
	padding: 94px 0;
}

.title {
	color: var(--main-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	margin: 0 0 50px 0;
}

.active {
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active:hover,
.active:focus {
	color: var(--active-color);
}


.menu__item {
	position: relative;
}

.included::after {
	content: '';
	display: flex;
	position: absolute;
	bottom: 0;
	background: #2196F3;
	border-radius: 2px;
	width: 100%;
	height: 4px;
}

/* general */
/* header */

.header {
  border-bottom:1px solid #ECECEC;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu {
	display: flex;
	align-items: center;
}

.menu__logo--blue{
  color: var(--active-color);
}

.menu__logo {
	color: var(--main-color);
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;

	margin: 0 93px 0 0;
}

.menu__list {
	display: flex;
	column-gap: 50px;
}

.menu__column {
	display: flex;
	align-items: center;
	color: #757575;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__column a {
	display: flex;
	align-items: center;
	font-weight: 500;
	letter-spacing: 0.02em;
	color: inherit;
	padding: 32px 0;
	
}

.menu-contacts:hover {
	color: var(--active-color);
	cursor: pointer;
}

.menu-logo-email {
	width: 16px;
	height: 12px;
	margin: 0 10px 0 0;
	fill: currentColor;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-logo-phone {
	width: 10px;
	height: 16px;
	margin: 0 10px 0 0;
	fill: currentColor;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-logo-email:hover {
	fill: currentColor;
}

.menu-logo-phone:hover {
	fill: currentColor;
}

.menu-link {
	display: block;
	font-weight: 500;
	letter-spacing: 0.02em;
	color: var(--main-color);

	padding: 32px 0;
}

.dynamic {
	color: var(--active-color);
}

.included {
	color: var(--active-color);
}

/* index.html */

/* hero */

.hero {
	text-align: center;
	padding: 200px 0;
}

.hero--bg {
	max-width: 1600px;
	margin: 0 auto;
	background: #C4C4C4;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
}

.hero__title {
	text-transform: uppercase;
	color: #fff;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	letter-spacing: 0.06em;

	margin: 0 auto 30px auto;
	max-width: 696px;
}

.hero__button {
	display: inline-block;

	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 2;
	min-width: 216px;

	cursor: pointer;
	background: var(--active-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	padding: 10px 32px;
}

.hero__button:hover,
.hero__button:focus {
	background: var(--background-btn);
}

/* benefits */

.benefits {
	padding: 94px 0 0 0;
}

.benefits__list {
	display: flex;
	column-gap: 30px;
}

.benefits__item {
	width: 270px;
}

.benefits__bg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 270px;
	height: 120px;
	background: #F5F4FA;
	margin: 0 0 30px 0;
}

.benefits__title {
	color: var(--main-color);
	font-weight: 700;
	line-height: 1;
	margin: 0 0 10px 0;
}

.benefits__text {
	color: var(--secondary-color);
	line-height: 2;
}

/* work */

.work__list {
display: flex;
	column-gap: 30px;
}

.work__thumb {
	position: relative;
	display: flex;
}

.work__imag {
	max-width: 100%;
	height: auto;
}

.work__subtitle {
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 100%;
	height: 70px;
	background: rgba(47, 48, 58, 0.8);
}

.work__subtitle p {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: #fff;
}

/* team */

.team {
	background: #F5F4FA;
}

.team-list {
	display: flex;
	column-gap: 30px;
}

.team__item {
  text-align: center;
	width: 270px;

	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team__imag {
	max-width: 100%;
	height: auto;
}

.team__name {
	color: var(--main-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	margin: 0 0 10px 0;
	padding: 30px 0 0 0;
}

.team__profession {
	color: var(--secondary-color);
	font-size: 16px;
	line-height: 1.2;
	margin: 0 0 16px 0;
}

.team__social {
	display: flex;
	justify-content: center;
	padding: 0 0 30px 0;
	column-gap: 10px;
}

/* social */

.social__br {
}

.social__link {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 44px;
	height: 44px;
	border-radius: 50%;
	color: #AFB1B8;
	cursor: pointer;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
}

.social__link:hover {
	background: var(--active-color);
	color: #fff;
}

.social__icon {
	fill: currentColor;
}

/* company */

.company-list {
	display: flex;
	justify-content: center;
	column-gap: 30px;
}

.company-item {
	
}

.company-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 92px;
	border: 1px solid #AFB1B8;
	border-radius: 4px;
	color: #afb1b8;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
	background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
	border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-link:hover {
	border-color: var(--active-color);
	color: var(--active-color);
	cursor: pointer;
}

.company-icon {
	fill: currentColor;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-icon:hover {
	fill: currentColor;
}
	
/* portfolio.html */

.button-list {
   display: flex;
	 justify-content: center;
	 column-gap: 8px;
	 margin: 0 0 50px 0;
}

.button {
	color: var(--main-color);
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;

	background: #F5F4FA;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	padding: 6px 22px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
	color: #fff;
	background: var(--active-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.portfolio-link {
	display: block;
	width: 370px;
	background: #FFFFFF;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover {
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-imag {
	max-width: 100%;
	height: auto;
}

.portfolio-info {
	padding: 20px 24px;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}

.portfolio-title {
	color: var(--main-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin: 0 0 4px 0;
}

.portfolio-text {
	color: var(--secondary-color);
	font-size: 16px;
	line-height: 2;
}

.portfolio-overlay {
	overflow: hidden;
	position: relative;
}

.portfolio-thumb {
	position: absolute;
	top: 0;
	left: 0;

	background: rgba(33, 150, 243, 0.9);
	font-size: 18px;
	line-height: 1.55;
	color: #fff;
	padding: 63px 24px;

	height: 100%;
	width: 100%;

	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .portfolio-item:hover .portfolio-thumb {
	transform: translateY(0);
}

/* footer */

address {
	display: flex;
	font-style: normal;
}

.footer {
	background: var(--background-color);
	padding: 60px 0;
}

/* footer-contacts */

.footer-contacts {
	margin: 0 70px 0 0;
}
.footer-logo {
	display: inline-block;
	color: #fff;
	margin: 0 0 20px 0;
}

.footer-list li:not(:last-child) {
	margin-bottom: 9px;
}

.footer-address{
	color: #fff;
	line-height: 2;
}

.footer-mail,
.footer-tel {
	color: var(--secondary-color);
	line-height: 1.5;
}

/* footer-connect */

.footer-connect {
	margin: 0 83px 0 0;
}

.footer-connect-title{
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	margin: 0 0 20px 0;
	text-transform: uppercase;
}

.footer-link {
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
}

/* footer-subscribee */

.footer-subscribee {
	display: flex;
	flex-direction: column;
	
	color: #fff;
}


.subscribee-label {
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subscribee-field {
	display: flex;
	column-gap: 12px;
}

.subscribee-input {
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	width: 360px;
	background: var(--background-color);
	padding-left: 30px;
	color: #fff;
}

.subscribee-button {
	position: relative;
	width: 200px;
	
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 2;

	cursor: pointer;
	background: var(--active-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	padding: 10px 0;
}

.subscribee-button:hover,
.subscribee-button:focus {
	background: var(--background-btn);
}

.subscribee-button-text {
	margin-right: 10px;
	margin-left: -20px;
}

.subscribee-icon {
	position: absolute;
	top: 50%;
	fill: #fff;
	transform: translateY(-50%);
}

/* modal-form */

.modal-form {
	
}

.modal-form-title {
	text-align: center;

	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	
	color: #212121;
	margin-bottom: 12px;
}

.modal-field {
	position: relative;
	margin-bottom: 10px;
}

.modal-field-bottom {
	margin-bottom: 20px;
}

.modal-field-comments {
	display: block;

	height: 120px;
	width: 100%;
	padding: 16px 12px;

	outline: none;
	resize: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal-field-comments:hover,
.modal-field-comments:focus {
	border: 1px solid #2196F3;
}

.modal-label {
	display: block;
	
	font-size: 12px;
	line-height: 1.2;
	letter-spacing: 0.01em;

	color: #757575;
	margin-bottom: 4px;
}

.modal-input {
	position: relative;
	outline: none;

	height: 40px;
	width: 100%;
	padding-left: 30px;
	border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal-input:hover,
.modal-input:focus {
	border: 1px solid #2196F3;
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
	fill: var(--active-color);
	border-color:#2196F3;
}

.modal-icon {
	position: absolute;
	top: 55%;
	left: 15px;
	transform: translate(50% 50%);
}

.modal-treaty {
	display: flex;
	justify-content: center;
	
	color: #757575;
	margin-bottom: 30px;
	line-height: 1.71;

}

.treaty-label {
	display: flex;
	align-items: center;
}

.treaty-input {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;

	/* -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute; */
}

.treaty-check {
	display: inline-block;
	width: 16px;
	height: 15px;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 4px;
	margin: 0 10px 0 0;
}

.treaty-input:checked + .treaty-check {
	border-color: var(--active-color);
	background-color: var(--active-color);
	background-image: url("../images/svg/check.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-origin: border-box;
	background-position: center;
}

.treaty-agree {
	color: var(--secondary-color);
}

.treaty-label a {
	text-decoration: underline;
	color: var(--active-color);
	margin-left: 5px;
}

.modal-button {
	display: block;
	
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 2;
	min-width: 216px;

	cursor: pointer;
	background: var(--active-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	padding: 10px 32px;
	margin: 0 auto;
}

.modal-button:hover,
.modal-button:focus {
	background: var(--background-btn);
}

/* modal */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.2);
	opacity: 1;
	transform: scale(1);
	
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
	transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	transform: scale(0);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 40px;
	width: 528px;
	height: 581px;
	background-color: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.modal-button-close {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 8px;
	width: 30px;
	height: 30px;

	background: #FFF;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.modal-button-close:hover,
.modal-button-close:focus {
	fill: var(--active-color);
}



